<div class="container">
    <div class="download">
        <div class="wrap">
            <div class="page-box">
                <div class="logo">
                    <img src="assets/images/logo.png" alt="零猫">
                </div>
                <div class="content">
                    <div class="user-box">
                        <input class="form-control" type="text" ng-model="imgId" placeholder="请输入数据包编号" maxlength="50">
                    </div>
                    <button class="btn btn-primary btn-full" ng-click="getPics(imgId)">下载</button>
                    <!-- <button class="btn btn-success btn-full" ng-click="sentSMS(phone,imgId)">发送短信</button> -->
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="copy">Copyright©&nbsp;2016&nbsp;零猫&nbsp;&nbsp;|&nbsp;&nbsp;浙ICP备15045566号</div>
        </div>
    </div>
</div>
