<!-- <div class="saleorder">
    <div class="container-fluid content-bg">
        <div class="bg-color">
            <div class="page-title col-sm-12 col-md-12 col-lg-12">销售订单</div>
            <div class="col-sm-12 col-md-12 col-lg-12 content">
                <div class="saleorder-content">
                    <div class="saleorder-top row-padding-2">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0">
                            <div class="title-list">
                                <div class="search-input pull-left">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="输入订单号" ng-model="order_code">
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="getOrderList()">检索</button>
                                            </span>
                                    </div>
                                </div>
                                <div class="pull-left col-margin-2">
                                    <div class="btn-group" uib-dropdown>
                                        <button id="btn-append-to-single-button" type="button" class="btn btn-default" data-toggle="dropdown" uib-dropdown-toggle>
                                            {{status}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                                            <li ng-repeat="status in orderStatus" ng-click="selectStatus(status.order_status,status.status_name)">
                                                <a href>{{status.status_name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="col-ms-12 col-md-12 col-lg-12 col-padding-0">
                                        <div class="start-time col-ms-12 col-md-12 col-lg-12 col-padding-0">
                                            <datepicker date-Format="dateFormat" time-Type="startTime" min-View="2" time-Type-Placeholder="startTimePlaceholder"></datepicker>
                                        </div>
                                        <div class="end-time col-ms-6 col-md-6 col-lg-6 col-padding-0">
                                            <datepicker date-Format="dateFormat" time-Type="endTime" min-view="2" time-Type-Placeholder="endTimePlaceholder"></datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-list col-sm-12 col-md-12 col-lg-12 col-padding-0">
                        <table class="order-table table-hover">
                            <tr class="thead">
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>订单编号</td>
                                <td>收件人</td>
                                <td class="shouhuo">收货地区</td>
                                <td class="money">订单金额(元)</td>
                                <td class="status">订单状态</td>
                                <td class="time">下单时间</td>
                                <td class="operation">操作</td>
                            </tr>
                            <tr ng-repeat="order in orderList">
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>{{order.order_code}}</td>
                                <td>{{order.receiver}}</td>
                                <td>{{order.receive_city}}</td>
                                <td>{{order.total_price}}元</td>
                                <td>{{orderStatus[order.status+1].status_name}}</td>
                                <td class="time">{{order.created_at}}</td>
                                <td>
                                    <span ui-sref="main.saleorderdetail({order_id:order.order_id})" ng-show="accessControl.salesOrder.view==1">详情</span>
                                    <span ng-show="order.status==1&&accessControl.salesOrder.cancelOrder==1" ng-click="showOrderCancelBox(order.order_id)">取消订单</span>
                                    <span ng-show="order.status==1&&accessControl.salesOrder.editFreight==1" ng-click="showUpdateFeeBox(order.order_id,order.freight)">改运费</span>
                                    <span ng-show="order.status==2&&accessControl.salesOrder.affirmShipments==1" ng-click="showOrderSendBox(order.order_id)">确认发货</span>
                                    <span ng-show="order.status==3&&accessControl.salesOrder.affirmDelivery==1" ng-click="showConfirmDeliveryBox(order.order_id)">确认收货</span>
                                    <span ng-show="order.status==4&&accessControl.salesOrder.accountStatement==1" ng-click="showOrderCloseBox(order.order_id)">结单</span>
                                    <span class="paying" ng-show="order.status==6">支付处理中</span>
                                    <span ng-show="order.status==5" class="gray">已结单</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="pager-box">
                        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" first-text="首页" previous-text="上一页" next-text="下一页" last-text="最后页" items-per-page="8" class="pagination-sm pager-list" boundary-link-numbers="true" boundary-links="true" rotate="false" ng-change="setPage()"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--订单状态改变 弹出框 -->
<!--取消订单 -->
<!-- <div class="popup-box order-popupbox" ng-show="orderCancelBox">
    <div class="col-xs-4 col-md-4 col-lg-4 order-popup-content">
        <div class="order-box col-xs-12 col-md-12 col-lg-12">
            <div class="title">
                取消订单提示
                <i class="iconfont close" ng-click="cancel()">&#xe624;</i>
            </div>
            <div class="content">
                <div class="order-status">是否取消订单?</div>
            </div>
            <div class="bottom">
                <div class="status-btn confirm" ng-click="cancelOrder()">提交</div>
                <div class="status-btn cancel" ng-click="cancel()">取消</div>
                <div class="status-btn view" ui-sref="main.saleorderdetail({order_id:order_id})">查看订单</div>
            </div>
        </div>
    </div>
</div> -->
<!--确认收货 -->
<!-- <div class="popup-box order-popupbox" ng-show="confirmDeliveryBox">
    <div class="col-xs-4 col-md-4 col-lg-4 order-popup-content">
        <div class="order-box col-xs-12 col-md-12 col-lg-12">
            <div class="title">
                确认收货提示
                <i class="iconfont close" ng-click="cancel()">&#xe624;</i>
            </div>
            <div class="content">
                <div class="order-status">是否确认收货?</div>
            </div>
            <div class="bottom">
                <div class="status-btn confirm" ng-click="confirmDelivery()">提交</div>
                <div class="status-btn cancel" ng-click="cancel()">取消</div>
                <div class="status-btn view" ui-sref="main.saleorderdetail({order_id:order_id})">查看订单</div>
            </div>
        </div>
    </div>
</div> -->
<!--订单发货 -->
<!-- <div class="popup-box order-popupbox" ng-show="orderSendBox">
    <div class="col-xs-4 col-md-4 col-lg-4 order-popup-content">
        <div class="order-box col-xs-12 col-md-12 col-lg-12">
            <div class="title">
                确认发货提示
                <i class="iconfont close" ng-click="cancel()">&#xe624;</i>
            </div>
            <div class="content">
                <div class="order-status">是否确认发货?</div>
            </div>
            <div class="bottom">
                <div class="status-btn confirm" ng-click="orderSend()">提交</div>
                <div class="status-btn cancel" ng-click="cancel()">取消</div>
                <div class="status-btn view" ui-sref="main.saleorderdetail({order_id:order_id})">查看订单</div>
            </div>
        </div>
    </div>
</div> -->
<!--修改运费 -->
<!-- <div class="popup-box order-popupbox" ng-show="updateFeeBox">
    <div class="col-xs-4 col-md-4 col-lg-4 order-popup-content">
        <div class="order-box col-xs-12 col-md-12 col-lg-12">
            <div class="title">
                修改运费
                <i class="iconfont close" ng-click="cancel()">&#xe624;</i>
            </div>
            <div class="content">
                <div class="order-status">
                    <div class="fee-box">
                        <div class="fee">
                            <span>运费合计:</span>{{current_freight}}
                        </div>
                        <div class="fee">
                            <span>修改运费:</span>
                            <input type="text" ng-model="update_fee" ng-blur="updateFeeInput(update_fee)">
                        </div>
                        <div class="fee fee-memo">
                            <span>*备注:</span>
                            <input type="text" ng-model="update_fee_momo" maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="status-btn confirm" ng-click="updateFee()">提交</div>
                <div class="status-btn cancel" ng-click="cancel()">取消</div>
            </div>
        </div>
    </div>
</div> -->
<!--结单 -->
<!-- <div class="popup-box order-popupbox" ng-show="orderCloseBox">
    <div class="col-xs-4 col-md-4 col-lg-4 order-popup-content">
        <div class="order-box col-xs-12 col-md-12 col-lg-12">
            <div class="title">
                结单提示
                <i class="iconfont close" ng-click="cancel()">&#xe624;</i>
            </div>
            <div class="content">
                <div class="order-status">是否确认结单?</div>
            </div>
            <div class="bottom">
                <div class="status-btn confirm" ng-click="orderClose()">提交</div>
                <div class="status-btn cancel" ng-click="cancel()">取消</div>
                <div class="status-btn view" ui-sref="main.saleorderdetail({order_id:order_id})">查看订单</div>
            </div>
        </div>
    </div>
</div> -->
