<div class="check_clients">
    <div class="container-fluid bg_cent">
        <div class="all_color">
            <div class="title col-sm-12 col-md-12 col-lg-12">
                <span>客户详情</span>
            </div>
            <div class="addclients_cent col-sm-12 col-md-12 col-lg-12">
                <div class="based_information col-sm-12 col-md-12 col-lg-12 col-padding-0">
                    <div class="based_title col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-2">基础信息</div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0">
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span"><i>*</i>客户编号:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{clientsNo}}</span>
                            </div>
                        </label>
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span"><i>*</i>客户名称:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{custName}}</span>
                                <span class="lable_span yellow_font" ng-show="statues==1">平台供应关系--已建立</span>
                            </div>
                        </label>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span"><i>*</i>所在地区:</span>
                            <div class="btn-group col-sm-5 col-md-5 col-lg-5">
                                <div class="lable_span"><span>{{province}}</span>&nbsp;&nbsp;<span>{{city}}</span>&nbsp;&nbsp;<span>{{district}}</span></div>
                            </div>
                        </div>
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span"><i>*</i>详细地址:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{detAddres}}</span>
                            </div>
                        </label>
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span"><i>*</i>联系人:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{linkMan}}</span>
                            </div>
                        </label>
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span"><i>*</i>联系电话:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{cuntNumber}}</span>
                            </div>
                        </label>
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span">备注:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{remark}}</span>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="customer_property">
                    <div class="property_title col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-2">客户属性</div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span"><i>*</i>客户分类:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{cataName}}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span"><i>*</i>客户等级:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{rankName}}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span">销售区域:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{regionName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="business_information">
                    <div class="business_title col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-2">业务信息</div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0">
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span">所属业务员:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{countMan}}</span>
                            </div>
                        </label>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span"><i>*</i>结算方式:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5 check_box">
                                <span class="lable_span">{{lemeName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bank_information">
                    <div class="bank_title col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-2">银行账号信息</div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0">
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span">开户行名称:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{bankName}}</span>
                            </div>
                        </label>
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span">开户行户名:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{accountName}}</span>
                            </div>
                        </label>
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span">开户行账号:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{accBank}}</span>
                            </div>
                        </label>
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span">纳税人识别号:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{taxpayerNumber}}</span>
                            </div>
                        </label>
                        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
                            <span class="lab_span">发票抬头:</span>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span class="lable_span">{{invoiceTitle}}</span>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-3">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <button class="btn btn-default" ui-sref="main.clients">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
