<div class="sale_modal">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
            <span class="lab_span"><i>*</i>区域名称:</span>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" placeholder="请输入区域名称" maxlength="30" ng-model="data.item.name"/>
            </div>
        </label>
        <div class="col-sm-12 col-md-12 col-lg-12 col-padding-0 row-padding-1">
        	<span class="lab_span">区域范围:</span>
        	<div class="col-sm-8 col-md-8 col-lg-8">
        		<div class="regional_rang col-sm-12 col-md-12 col-lg-12 col-padding-0">
        			<tree-view tree-data="data.operTree" tree-Options="data.operTreeOptions" selected-item="data.operSelectedItem"></tree-view>
        		</div>
        	</div>
        </div>
    </div>
</div>
