<div class="out_stoct">
    <div class="container-fluid bg_cent">
        <div class="all_color">
            <div class="title col-sm-12 col-md-12 col-lg-12">
                <span>入库单</span>
            </div>
            <div class="outstock_cent">
                <div class="outstock_cent_top col-sm-12 col-md-12 col-lg-12">
                    <div class="search_bottom col-sm-12 col-md-12 col-lg-12 col-padding-0">
                        <div class="col-sm-10 col-md-10 col-lg-10 col-padding-0">
                            <div class="col-sm-2 col-md-2 col-lg-2 col-padding-0">
                                <input type="text" class="form-control" placeholder="输入入单号" ng-model="warehouse_in_bill_number" ng-keyup="inputTitle()">
                                <i class="denuded" ng-show="denudedShow" ng-click="denuded()">&times;</i>
                            </div>
                            <div class="drop_btn pull-left">
                                <div class="sec_ware pull-left">
                                    <div class="dropdown" uib-dropdown>
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle ng-model="grouponstatus">
                                            {{selectWarehour}}<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" uib-dropdown-menu>
                                            <li>
                                                <a ng-click="SecAllWare()">全部仓库</a>
                                            </li>
                                            <li ng-repeat="ware in wareList">
                                                <a ng-click="SecWare(ware.warehouse_id,ware.name)">{{ware.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sec_statue pull-left">
                                    <div class="dropdown" uib-dropdown>
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle ng-model="grouponstatus">
                                            {{selectStatue}}<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" uib-dropdown-menu>
                                            <li ng-repeat="stat in outStatue"><a ng-click="inStatue(stat.outStatue,stat.outStatueName)">{{stat.outStatueName}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sec_type pull-left">
                                    <div class="dropdown" uib-dropdown>
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle ng-model="grouponstatus">
                                            {{selectType}}<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3" uib-dropdown-menu>
                                            <li ng-repeat="type in outType">
                                                <a ng-click="inType(type.outType,type.outTypeName)">{{type.outTypeName}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sec_audit pull-left">
                                    <div class="dropdown" uib-dropdown>
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle ng-model="grouponstatus">
                                            {{selectAudit}}<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4" uib-dropdown-menu>
                                            <li ng-repeat="audit in outAudit">
                                                <a ng-click="reviewStatus(audit.outAudit,audit.outAuditName)">{{audit.outAuditName}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="time_input pull-left col-sm-2 col-md-2 col-lg-2 col-padding-0">
                                <datepicker date-Format="dateFormat" min-View="0" bootcss-Ver="3" minute-Step="5" time-Type="start_time" dis-Abled="disAbled" time-Type-Placeholder="startTimePlaceholder"></datepicker>
                            </div>
                            <div class="time_input pull-left col-sm-2 col-md-2 col-lg-2 col-padding-0">
                                <datepicker date-Format="dateFormat" min-View="0" bootcss-Ver="3" minute-Step="5" time-Type="end_time" dis-Abled="disAbled" time-Type-Placeholder="endTimePlaceholder"></datepicker>
                            </div>
                            <div class="clear_both"></div>
                        </div>
                        <div class="add_btn col-sm-2 col-md-2 col-lg-2 col-padding-0">
                            <button class="btn btn-primary s_btn" ng-click="searchList()">检索</button>
                            <button class="btn btn-primary btn-marg" ui-sref="main.addoutstock" ng-show="accessControl.GndownEntry.add==1">新增入库</button>
                        </div>
                    </div>
                </div>
                <div class="outstock_cent_tab col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-hover outstock_tab">
                        <thead>
                            <tr>
                                <th>入库单编号</th>
                                <th>入库仓库</th>
                                <th>入库时间</th>
                                <th>入库类型</th>
                                <th>入库状态</th>
                                <th>审核状态</th>
                                <th>制单人</th>
                                <th>审核人</th>
                                <th>操作</th>
                                <tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in stocklist">
                                <td>{{x.warehouse_in_bill_number}}</td>
                                <td>{{x.warehouse.name}}</td>
                                <td>{{x.in_time}}</td>
                                <td>{{outType[x.in_type].outTypeName}}</td>
                                <td>{{outStatue[x.in_status].outStatueName}}</td>
                                <td>{{outAudit[x.review_status].outAuditName}}</td>
                                <td>{{x.make_bill_user.name!="" ? x.make_bill_user.name : x.make_bill_user.user_group_name}}</td>
                                <td>{{x.review_user.name!=''?x.review_user.name:x.review_user.user_group_name}}</td>
                                <td>
                                    <a ui-sref="main.auditoutstock({id:x.warehouse_in_bill_id,isType:1})" ng-show="accessControl.GndownEntry.view==1">查看</a>
                                    <a ng-click="submitAudit(x.warehouse_in_bill_id)" ng-show="x.review_status==1&&accessControl.GndownEntry.SubmitAudit==1">提交审核</a>
                                    <a ui-sref="main.auditoutstock({id:x.warehouse_in_bill_id,isType:2})" ng-show="x.review_status==2&&accessControl.GndownEntry.Audit==1">审核</a>
                                    <a ng-click="submitAudit(x.warehouse_in_bill_id)" ng-show="x.review_status==3&&accessControl.GndownEntry.SubmitAudit==1">提交重审</a>
                                    <a ui-sref="main.addoutstock({id:x.warehouse_in_bill_id})" ng-show="(x.review_status==1||x.review_status==3)&&accessControl.GndownEntry.edit==1">编辑</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pager-box">
                    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="6" first-text="首页" previous-text="上一页" next-text="下一页" last-text="末页" items-per-page="10" class="pagination-md pager-list" boundary-link-numbers="true" boundary-links="true" rotate="false" ng-change="setPage()"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
